@using System.Data  
@using System.Data.SqlClient  
@model System.Data.DataTable  
@{  
Layout = null;  
}  
<!DOCTYPE html>  
<html>  
  
     <head>  
          <meta name="viewport" content="width=device-width" />  
          <title>Home</title>  
     </head>  
  
     <body>  
          <form method="post" name="Display">  
               <h2>FindStudentCourse</h2>  
               @Html.ActionLink("Home", "Index")  

               <br />  
              <ul>
                @foreach (var course in ViewBag.Courses)
                    {
                <li>@course.Name</li>
                    }
               </ul>
          </form>  
     </body>  
  
</html> 