@using System.Data  
@using System.Data.SqlClient  
@model System.Data.DataTable  
@{  
Layout = null;  
}  
<!DOCTYPE html>  
<html>  
  
     <head>  
          <meta name="viewport" content="width=device-width" />  
          <title>Professors</title>  
     </head>  
  
     <body>  
          <form method="post" name="Display">  
               <h2>Home</h2>  
               @Html.ActionLink("Get All Students", "GetAllStudents")  
               <br />  
               @{  
               if (Model.Rows.Count > 0)  
               {  
               <table border="1">  
                    <thead>  
                         <tr>  
                              <td>  
                                   ID  
                              </td>  
                              <td>  
                                   Student Id  
                              </td>  
                              <td>  
                                   Coruse Id  
                              </td>  

                         </tr>  
                    </thead>  
                    @foreach (DataRow dr in Model.Rows)  
                    {  
                    <tr>  
                         <td>@dr["id"].ToString() </td>  
                         <td>@dr["studentId"].ToString() </td>  
                         <td>@dr["courseId"].ToString() </td>  
                    </tr>  
                    }  
               </table>  
               <br />  
               }  
               else  
               {  
               <span> No records found!!</span>  
               }  
               }  
          </form>  
     </body>  
  
</html> 